*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #1e1e1e;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1{
    margin-bottom: 10px;
    font-size: 24px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type = "text"]{
    width: 70%;
    padding: 5px;
    background-color: #1a1a1a;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}

button{
    background-color: #0752b4;
    color: #fff;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #02173f;
}

#loading {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #0077ff;
}

#weather-info{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.hidden{
    display: none;
}